.container__contacts {
  background-color: #242424;
  height: 640px;

  &--header--title {
    position: relative;
    top: 66px;
    color: white;
    font-weight: 800;
    font-size: 100px;
    z-index: 2;
    left: 90px;
  }

  &--header--subtitle {
    position: relative;
    width: 460px;
    right: 319px;
    top: 78px;
  }

  &--contact {
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
  }

  &--contact div {
    width: 250px;
    height: 250px;
    color: white;
    background-color: #242424;
  }

  &--contact mat-icon {
    font-size: 50px;
    padding-bottom: 40px;
  }
}

p{
  position: relative;
  right: -145px;
  width: 1075px;
  top: 112px;
  color: white;
  // width: 280px;
  font-size: 32px;
  text-align: center;
  line-height: 30px;
}


.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 1.7s;
  animation-duration: 1.7s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
  }
  @keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
  } 