<mat-card class="container__contacts fadeIn">
  <mat-card-header class="container__contacts--header">
    <mat-card-title class="container__contacts--header--title">CONTACT
  </mat-card-title>
    <img mat-card-image class="container__contacts--header--subtitle" src="../../../assets/contatos.png" alt="contatos">
  </mat-card-header>

  <p class="fadeIn">Fique a vontade para entrar em contato comigo. Estou sempre aberto para discutir novos projetos, ideias criativas ou oportunidades de trabalho</p>
  <div class="container__contacts--contact fadeIn">

    <div>
      <mat-icon>email</mat-icon>
      <h1>E-mail</h1>
      <h2>hallefcoelho@gmail.com</h2>
    </div>

    <div>
      <mat-icon>phone</mat-icon>
      <h1>Telefone</h1>
      <h2>(24)98156-4047</h2>
    </div>
  </div>

</mat-card>