<mat-card class="container__about">
  <mat-card-header class="container__about--header fadeIn">
    <mat-card-title class="container__about--header--title">ABOUT</mat-card-title>
    <img mat-card-image class="container__about--header--subtitle" src="../../../assets/about.png" alt="sobre">
  </mat-card-header>
  <img mat-card-image class="container__about--img fadeInRight" src="../../../assets/perfil-reverse.png" alt="foto de perfil">
  <mat-card-content class="container__about--text fadeIn">
    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptates cumque sunt labore praesentium facere rerum quis, magni itaque officia voluptate. Odio, commodi! Possimus laboriosam iure itaque placeat omnis, ipsum earum!
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Maxime facere voluptas pariatur quasi quidem quas quibusdam sequi rerum eligendi itaque reiciendis perferendis sunt, illo laborum molestiae unde excepturi illum architecto.
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus totam, dolorem autem dignissimos expedita voluptate hic eos ab tempore doloremque id culpa aperiam maxime ipsam tempora facere. Earum, obcaecati ducimus?
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus temporibus nostrum tenetur corrupti facilis provident facere deleniti nisi, vitae beatae distinctio illum, expedita molestias ut porro, suscipit sequi saepe itaque?
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis accusantium perferendis assumenda, laborum ipsam saepe, obcaecati tempore libero ipsa possimus doloremque quis impedit minus laboriosam deserunt animi ipsum aspernatur soluta!
    </p>
  </mat-card-content>
</mat-card>