<mat-card class="container__about">
  <mat-card-header class="container__about--header fadeIn">
    <mat-card-title class="container__about--header--title">ABOUT</mat-card-title>
    <img mat-card-image class="container__about--header--subtitle" src="assets/about.png" alt="sobre">
  </mat-card-header>
  <img mat-card-image class="container__about--img fadeInRight" src="assets/perfil-reverse.png" alt="foto de perfil">
  <mat-card-content class="container__about--text fadeIn">
    <p>
      Apaixonado por tecnologia, em 2012, fiz meu primeiro curso de designer na <strong>Seven Computação Gráfica</strong>, onde tive meus primeiros contatos com a programação. De início,  programava com o Adobe Dreamweaver. 
      <br><br>
      Minha primeira experiência profissional foi em uma editora. Fazia parte de uma equipe de projetos para a confecção do material didático junto aos redatores, além de confeccionar as artes eu fazia, também, a diagramação das apostilas.  
      <br><br>
      Tive a oportunidade de cursar web FullStack na <strong>Let’s Code</strong>, proporcionando-me aprender todos os fundamentos básicos no desenvolvedor Front-End (HTML, CSS e JavaScript).  O que me motivou a ir mais além. Obstinado, então, comecei a fazer cursos complementares para aprimorar ainda mais minhas habilidades; levando-me a estudar o TypeScript, SCSS e o Framework Angular.
    </p>
  </mat-card-content>

  <div class="container__skills fadeInLeft">
    <h1 class="container__skills--title">SKILLS</h1>
    <div class="container__skills--technologies">
      <img class="container__skills--img" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/angularjs/angularjs-original.svg" alt="Icon Angular">
  
      <img class="container__skills--img" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/typescript/typescript-plain.svg" alt="Icon TypeScript">
  
      <img class="container__skills--img" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/javascript/javascript-plain.svg" alt="Icon JavaScript">
  
      <img class="container__skills--img" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/html5/html5-original.svg" alt="Icon HTML">
  
      <img class="container__skills--img" src="https://raw.githubusercontent.com/devicons/devicon/master/icons/css3/css3-original.svg" alt="Icon CSS">

      <img class="container__skills--img" src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/sass/sass-original.svg" alt="Icon SCSS">
    </div>
  </div>
  
  




</mat-card>


