<div class="btn">
  <a href="assets/curriculo/Profile-Hallef-Brendo.pdf" download="curriculo-Hallef-Brendo">
    <button mat-flat-button class="btn__cv">Download CV</button>
  </a>

  <a href="https://github.com/hallefcoelho" target="_blank">
    <button mat-fab color="primary" class="btn__github">GitHub</button>
  </a>

  <a href="https://www.linkedin.com/in/hallef-brendo-coelho-da-silva-38b473131/" target="_blank">
    <button mat-fab color="primary" class="btn__linkedin">Linkedin</button>
  </a>

</div>
