<mat-card class="container__certificates">
  <mat-card-header class="container__certificates--header fadeIn">
    <mat-card-title class="container__certificates--header--title">CERTIFICATES</mat-card-title>
    <img mat-card-image class="container__certificates--header--subtitle" src="assets/certificados.png" alt="certificados">
  </mat-card-header>

  <div class="container__certificates--certificate fadeIn">
    <mat-card>
      <img mat-card-image src="assets/certificado-udemy-angular.jpg" alt="Certificado Udemy">  

            <mat-card-actions>
        <a href="https://www.udemy.com/certificate/UC-278a68aa-1a08-45b6-9d25-85eb68412409/" target="_blank">
          <button mat-raised-button>Info</button>
        </a>
      </mat-card-actions>
    </mat-card>

    <mat-card>
      <img mat-card-image src="assets/certificado-digital-innovation-one-spa-angular.JPG" alt="Certificado Digital Innovation One">  

            <mat-card-actions>
        <a href="https://www.dio.me/certificate/118D6113/share" target="_blank">
          <button mat-raised-button>Info</button>
        </a>
      </mat-card-actions>
    </mat-card>

  </div>

</mat-card>