<mat-card class="container__home">
  <mat-card-content>
    <img mat-card-image class="container__home--img fadeInLeft" src="../../../assets/perfil.png" alt="foto de perfil">
    <mat-card-title class="container__home--name fadeInRight">HALLEF BRENDO</mat-card-title>
    <img mat-card-image class="container__home--frontend fadeIn" src="../../../assets/front-end.png" alt="imagem front-end">
    <mat-card-subtitle class="container__home--developer fadeIn">DEVELOPER</mat-card-subtitle>
  </mat-card-content>
  <mat-card-actions class="container__portfolio fadeIn">
    <app-portfolio ></app-portfolio>
  </mat-card-actions>
</mat-card>