<mat-card class="container__projects">
  <mat-card-header class="container__projects--header fadeIn">
    <mat-card-title class="container__projects--header--title">PROJECTS</mat-card-title>
    <img mat-card-image class="container__projects--header--subtitle" src="../../../assets/projetos.png" alt="projetos">
  </mat-card-header>
  
<div class="container__projects--project fadeIn">
  <mat-card>
    <img mat-card-image src="../../../assets/to-do-list.PNG" alt="Lista de Tarefas">  
    <mat-card-title>To do List</mat-card-title>
    <mat-card-content>
      <p>
        Projeto To Do List desenvolvido durante o curso de Angular pela plataforma Udemy com o professor Dener Troquatte.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a href="https://hallefcoelho.github.io/to-do-list-angular/" target="_blank">
        <button mat-raised-button>Site</button>
      </a>
    </mat-card-actions>
  </mat-card>
  
  <mat-card>
    <img mat-card-image src="../../../assets/pokedex.PNG" alt="Pokedéx">  
    <mat-card-title>Pokedéx</mat-card-title>
    <mat-card-content>
      <p>
        Projeto Pokedéx desenvolvido durante o curso de Angular pela plataforma Udemy com o professor Dener Troquatte.
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a href="https://hallefcoelho.github.io/pokedex-angular/" target="_blank">
        <button mat-raised-button>Site</button>
      </a>
    </mat-card-actions>
  </mat-card>


</div>

</mat-card>