.container__projects{
  background-color: #242424;
  height: 640px;

  &--header--title {
    position: relative;
    top: 66px;
    color: white;
    font-weight: 800;
    font-size: 100px;
    z-index: 2;
    left: 90px;
  }

  &--header--subtitle {
    position: relative;
    width: 477px;
    right: 358px;
    top: 78px;
  }

  &--project {
    margin-top: 150px;
    display: flex;
    justify-content: space-around;
  }

  &--project mat-card {
    width: 250px;
    height: 270px;
    text-align: center;
  }

  &--project img {
    width: 282px;
  }
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  }
  @-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
  }
  @keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
  } 