<nav class="container__menu">
  <button mat-button class="container__menu--navigation" routerLink="" [routerLinkActive]="['container__menu--active']" [routerLinkActiveOptions]="{exact: true}">HOME</button>

  <button mat-button class="container__menu--navigation" routerLink="about" [routerLinkActive]="['container__menu--active']" [routerLinkActiveOptions]="{exact: true}">ABOUT</button>

  <button mat-button class="container__menu--navigation" routerLink="projects" [routerLinkActive]="['container__menu--active']" [routerLinkActiveOptions]="{exact: true}">PROJECTS</button>

  <button mat-button class="container__menu--navigation" routerLink="certificates" [routerLinkActive]="['container__menu--active']" [routerLinkActiveOptions]="{exact: true}">CERTIFICATES</button>

  <button mat-button class="container__menu--navigation" routerLink="contacts" [routerLinkActive]="['container__menu--active']" [routerLinkActiveOptions]="{exact: true}">CONTACTS</button>
</nav>
<router-outlet></router-outlet>
